
// Colors Start

$color-main: #7166F8;
$color-accent:  #F07760;
$color-background: #F5F6FF;
$color-dropdown-bg: #7166F8;
$color-border: #757575;
$color-searchborder: #B3ADF5;
$Color-text: #424242;
$color-passive:#727272;
$color-read: #F8F8F8;
$color-unread: #F0EFFF;
$color-online: #59A635;
$color-article: #6356FF;
$color-author: #F07760;
$color-document: #B36FAA;
$color-video: #986BC6;
$color-btnText:#Ffffff;
$color-background: #F5F6FF;
$color-active:#7166F8;
$color-:#7166F8;

// Colors END



// Text style START
// text sizes start
$text-button-size: 16px;
$text-slydebar-size: 16px;
$text-popupbutton-size: 20px;
// text sizes end

// text weight start
$text-button-weight: 400;
$text-popupbutton-weight: 400;
$text-slydebar-weight: 600;
// text weight end

// Text style END

